@model PubLibIS.ViewModels.PeriodicalEditionViewModel



<td>
    @Html.HiddenFor(model => model.Periodical_Id)
    @Html.EditorFor(model => model.ReleaseNumber, new { htmlAttributes = new { @class = "form-control " } })
    @Html.ValidationMessageFor(model => model.ReleaseNumber, "", new { @class = "text-danger" })
</td>
<td>
    @Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "form-control input-sm", type = "text" } })
    @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
</td>
<td>
    @Html.EditorFor(model => model.Circulation, new { htmlAttributes = new { @class = "form-control input-sm" } })
    @Html.ValidationMessageFor(model => model.Circulation, "", new { @class = "text-danger" })
</td>
<td>
    <div id="submit-edition" class="btn btn-default btn-sm  controls"><span class="glyphicon glyphicon-plus"></span></div>
</td>

<script>
    $(document).ready(
        () => {
            setDatePickerTo("ReleaseDate");

            $('#submit-edition').ready($('#submit-edition').click(function (e) {
                e.preventDefault();
                var edition = {
                    Periodical_Id: $("#Periodical_Id").val(),
                    ReleaseDate: $("#ReleaseDate").val(),
                    ReleaseNumber: $("#ReleaseNumber").val(),
                    Circulation: $("#Circulation").val()
                };
                $.ajax({
                    url: '/periodical/CreatePeriodicalEdition',
                    dataType: "json",
                    data: edition,
                    type: 'POST',
                    cache: false,
                    complete: function () {
                        $.get("@Url.Action("PeriodicalEditionList", new { id = Model.Periodical_Id }) #edition-list", function (data) {
                            $("#edition-list").replaceWith(data);
                        });
                        //$('#edition-list').load('@Url.Action("PeriodicalEditionList", new { id = Model.Periodical_Id })');
                    }
                });
            })
            );
        });
</script>





