@model PubLibIS.ViewModels.PeriodicalEditionViewModel



<td>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.PeriodicalId)
    @Html.EditorFor(model => model.ReleaseNumber, new { htmlAttributes = new { @class = "form-control " } })
    @Html.ValidationMessageFor(model => model.ReleaseNumber, "", new { @class = "text-danger" })
</td>
<td>
    @Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "form-control input-sm", type = "text" } })
    @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
</td>
<td>
    @Html.EditorFor(model => model.Circulation, new { htmlAttributes = new { @class = "form-control input-sm" } })
    @Html.ValidationMessageFor(model => model.Circulation, "", new { @class = "text-danger" })
</td>
<td class="controls">
    <div id="update-edition" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-floppy-save"></span></div>
</td>

<script>

    setDatePickerTo("ReleaseDate");

    $('#update-edition').ready($('#update-edition').click(function (e) {
        e.preventDefault();
        var edition = {
            Id: $("#Id").val(),
            PeriodicalId: $("#PeriodicalId").val(),
            ReleaseDate: $("#ReleaseDate").val(),
            ReleaseNumber: $("#ReleaseNumber").val(),
            Circulation: $("#Circulation").val()
        };
        $.ajax({
            url: '/periodical/EditPeriodicalEdition',
            dataType: "json",
            data: edition,
            type: 'POST',
            cache: false,
            beforeSend: () => { $("#update-edition > span").removeClass('glyphicon-floppy-save').addClass('glyphicon-ok').attr('style', 'color:green;') },
            success: (data) => {

                if (data['success'] != true) {

                }
                else {
                    $.get("@Url.Action("PeriodicalEditionList", new { id = Model.PeriodicalId }) #edition-list", function (data) {
                        $("#edition-list").replaceWith(data);
                    });
                }
            }
            });
        })
    );
</script>




