@model PubLibIS.ViewModels.PeriodicalCatalogViewModel

<div id="periodical-list">
    <div class="row">
        <h1>Periodicals</h1>
    </div>
    <div class="row">
        @foreach (var Periodical in Model.Periodicals)
        {
            <div class="col-xs-3 ">
                <a class="catalog-element" data-toggle="tooltip" title="@Periodical.Name (@Periodical.Type.Name)" href="@Url.Action("Details", "Periodical", new { id = Periodical.Id})">
                    <h3 class="catalog-element-capation">@Periodical.Name </h3>
                    <p>@Periodical.Type.Name</p>
                    <p>@Html.DisplayFor(modelItem => Periodical.Foundation)</p>
                    
                    <p>Publictaions:@Periodical.PeriodicalEditions.Count()</p>
                    <p>@Periodical.PublishingHouse.ListBoxInfo</p>
                </a>
            </div>
        }
    </div>
    <div class="row">
        <input id="periodical-skip" value="@Model.Skip" hidden/>
        <div  class="col-xs-4 text-center  @(Model.Skip > 0 ? "" : "invisible")"><span id="periodical-prev" class="fa fa-chevron-left  btn btn-primary"></span></div>
      
            <div class="col-xs-4 text-center @(Model.IsSeeMore?"":"invisible")"><a href="@Url.Action("Index","Periodical")"><div class="btn btn-primary">See more...</div></a></div>
            <div class="col-xs-4 text-center @(Model.HasNextPage ? "" : "invisible") "><span  id="periodical-next"  class="fa fa-chevron-right  btn btn-primary"></span></div>
       
    </div>
</div>
<script>
    $(document).ready(periodicalListReady);
</script>

