@{
    ViewBag.Title = "Public Library catalog";
}

<div class="jumbotron">
    <h1>Public Library</h1>

</div>
<div class="table">

    @Html.Action("BookList", "Book")

    @Html.Action("BrochureList", "Brochure")

    @Html.Action("PeriodicalList", "Periodical")

</div>
@section Scripts{
<script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

    function bookListReady() {

            $("#book-next").click(() => {

                $.get("@Url.Action("BookList","Book")?skip=" + (parseInt( $("#book-skip").val() )+ 1) + " #book-list", function (data) {
                    $("#book-list").replaceWith(data);
                        });
            });

            $("#book-prev").click(() => {
                $.get("@Url.Action("BookList","Book")?skip=" + (parseInt( $("#book-skip").val() )- 1) + " #book-list", function (data) {
                    $("#book-list").replaceWith(data);
                        });
            });

        }

         function brochureListReady() {

             $("#brochure-next").click(() => {

                $.get("@Url.Action("brochureList", "brochure")?skip=" + (parseInt($("#brochure-skip").val()) + 1) + " #brochure-list", function (data) {
                    $("#brochure-list").replaceWith(data);
                        });
            });

            $("#brochure-prev").click(() => {
                $.get("@Url.Action("brochureList", "brochure")?skip=" + (parseInt($("#brochure-skip").val()) - 1) + " #brochure-list", function (data) {
                    $("#brochure-list").replaceWith(data);
                        });
            });

    }

     function periodicalListReady() {

         $("#periodical-next").click(() => {

             $.get("@Url.Action("periodicalList", "periodical")?skip=" + (parseInt($("#periodical-skip").val()) + 1) + " #periodical-list", function (data) {
                 $("#periodical-list").replaceWith(data);
                        });
            });

         $("#periodical-prev").click(() => {
             $.get("@Url.Action("periodicalList", "periodical")?skip=" + (parseInt($("#periodical-skip").val()) - 1) + " #periodical-list", function (data) {
                 $("#periodical-list").replaceWith(data);
                        });
            });

        }
</script>
}