@model ViewModels.PublishedBookViewModel




<td>
    @Html.HiddenFor(model => model.Book.Id)
    @Html.DropDownListFor(model => model.PublishingHouse.Id, Model.PublishingHouseSelectList, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.PublishingHouse.Id, "", new { @class = "text-danger" })
</td>
<td>
    @Html.EditorFor(model => model.DateOfPublication, new { htmlAttributes = new { @class = "form-control", type = "text" } })
    @Html.ValidationMessageFor(model => model.DateOfPublication, "", new { @class = "text-danger" })
</td>
<td>
    @Html.EditorFor(model => model.Volume, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Volume, "", new { @class = "text-danger" })
</td>
<td>
    <input id="submit-publication" type="submit" value="Create" class="btn btn-default" />
</td>


<script>
    $($('#submit-publication').click(function () {
        var publication = {
            Book_Id: $("#Book_Id").val(),
            PublishingHouse_Id: $("#PublishingHouse_Id").val(),
            DateOfPublication: $("#DateOfPublication").val(),
            Volume: $("#Volume").val()
        };
        $.ajax({
            url: '/book/CreatePublication',
            dataType: "json",
            data: publication,
            type: 'Post',
            cache: false
        }).always(function (result) {
            alert("Done!");
            $('#publication-list').html(result);

            });
        alert("Exit");
    }));
</script>



