@model ViewModels.BookViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorsFormated)
        </dt>

        <dd>
            @Html.Raw(
                                    string.Join(", ", Model.Authors.Select(
                                        author => Html.ActionLink(author.FullName, "Details", "Author", new { id = author.Id }, new { }).ToString())))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd id="ReleaseDate">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalData)
        </dd>

    </dl>
</div>
<h1>Publications:</h1>
    @Html.Action("PublicationList", new { id = Model.Id })
<script>
   

  
</script>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

