@model ViewModels.PublishedBookViewModel



<td>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Book.Id)
    @Html.DropDownListFor(model => model.PublishingHouse.Id, Model.PublishingHouseSelectList, new { @class = "form-control update-val" })
    @Html.ValidationMessageFor(model => model.PublishingHouse.Id, "", new { @class = "text-danger" })
</td>
<td>
    @Html.EditorFor(model => model.DateOfPublication, new { htmlAttributes = new { @class = "form-control input-sm update-val", type = "text" } })
    @Html.ValidationMessageFor(model => model.DateOfPublication, "", new { @class = "text-danger" })
</td>
<td>
    @Html.EditorFor(model => model.Volume, new { htmlAttributes = new { @class = "form-control input-sm update-val" } })
    @Html.ValidationMessageFor(model => model.Volume, "", new { @class = "text-danger" })
</td>
<td class="controls">
    <div id="update-publication" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-floppy-save"></span></div>
</td>

<script>

    $('#PublishingHouse_Id.update-val').ready($('#PublishingHouse_Id.update-val').chosen());
    $('#DateOfPublication.update-val').ready($('#DateOfPublication.update-val').datepicker({
        format: "dd.mm.yyyy",
    }));

    $('#update-publication').ready($('#update-publication').click(function (e) {
        e.preventDefault();
        var publication = {
            Id: $("#Id").val(),
            Book_Id: $("#Book_Id").val(),
            PublishingHouse_Id: $("#PublishingHouse_Id.update-val").val(),
            DateOfPublication: $("#DateOfPublication.update-val").val(),
            Volume: $("#Volume.update-val").val()
        };
        $.ajax({
            url: '/book/EditPublication',
            dataType: "json",
            data: publication,
            type: 'POST',
            cache: false,
            beforeSend: () => { $("#update-publication > span").removeClass('glyphicon-floppy-save').addClass('glyphicon-ok').attr('style', 'color:green;') },
            success: (data) => {

                if (data['success'] != true) {

                }
                else {
                    $('#publication-list').load('@Url.Action("PublicationList", new { id = Model.Book.Id })')
                }
            }
            });
        })
    );
</script>




